<h3>{{fullname}}</h3>
<p>You're logged in!!</p>
<p><a href="#/login" ng-click="logout()">Logout</a></a></p>

<div ng-init="fetchTickets()">

    <div class="table-responsive">
        <table class="table">
            <caption>List of Tickets</caption>
            <thead>
            <tr >
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Impersonate</th>
                <th scope="col">Naration</th>
                <th scope="col" style="color: orange">Update</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="n in tickets">
                <th scope="row">{{n.id}}</th>
                <td>{{n.title}}</td>
                <td>{{n.description}}</td>
                <td>{{n.impersonate}}</td>
                <td>{{n.naration}}</td>
                <td><button ng-click="update_route()" style="width: 100%" type="submit" class="btn btn-info">Update</button></td>
            </tr>

            </tbody>
        </table>
    </div>

</div>